$dark-dark-pink: #400024;
$dark-pink: #CD0074;
$medium-pink: #E9399B;
$light-pink: #E667AF;
$light-light-pink: #FFB2DD;
$green: #9FEE70;
$white: #FFFFFF;

$base-unit: 10px;

$grid-row-height: 4*$base-unit;
$grid-col-width: 6*$base-unit;
$grid-row-spacing: 1*$base-unit;
$grid-col-spacing: 1*$base-unit;

$font-size-small: 10px;
$font-size-regular: 12px;
$font-size-medium: 16px;
$font-size-large: 24px;
