@import "_variables";
@import "_mixins";

body {
  color: $dark-dark-pink;
  background-color: $light-light-pink;
}

.header {
  &-top {
    background-color: $medium-pink;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      "lefticon empty righticon";
  }

  &-lefticon {
    grid-area: lefticon;
  }

  &-righticon {
    grid-area: righticon;
  }

  &-lefticon,
  &-righticon
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    & img {
      width: 4*$base-unit;
      height: 4*$base-unit;
    }
  }

  &-menuexpand {
    color: $light-light-pink;
    background-color: $dark-pink;

    display: none;

    flex-direction: column;
    align-items: center;
  }

  &-menuitem {
    @include title;
    color: $light-light-pink;
  }
}

.mainview {
  &-banner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &-largetitle {
    @include title;
    font-size: $font-size-large;
    font-weight: bolder;
    color: $dark-pink;
  }

  &-largeimage {
    & img {
      width: 25*$base-unit;
      height: 25*$base-unit;
    }
  }
  &-largeimage,
  &-largetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-question {
    & .question {
      &-title {
        @include title;
        font-size: $font-size-medium;
        font-weight: bold;
        color: $dark-pink;
      }
      &-answer {
        @include text;
        font-size: $font-size-regular;
      }
    }
  }
}
